<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="book">
	<select id="selectBookList" resultMap="bookMap">
		select * from book
	</select>
	<select id="selectBookCount" resultType="_int">
		select count(*) from book
	</select>
		<select id="selectSortByPK" resultMap="sortMap">
		SELECT * FROM SORT WHERE SORT_NO=#{sortNo}
	</select>
	
	<resultMap type="book" id="bookMap">
		<id column="BOOK_CODE" property="bookCode"/>
		<result column="BOOK_TITLE" property="bookTitle"/>
		<result column="BOOK_WRITER" property="bookWriter"/>
		<result column="BOOK_PUB" property="bookPub"/>
		<result column="BOOK_COST" property="bookCost"/>
		<result column="BOOK_SHORT" property="bookShort"/>
		<result column="BOOK_CONTENT" property="bookContent" typeHandler="longHandler"/>
		<result column="BOOK_COVER" property="bookCover"/>
		<result column="BOOK_DATE" property="bookDate"/>
		<result column="BOOK_STOCK" property="bookStock"/>
		<result column="BOOK_LINK" property="bookLink"/>
		<result column="BOOK_INTRO" property="bookIntro"/>
		<result column="WRITER_INTRO" property="writerIntro"/>
		<result column="BOOK_INDEX" property="bookIndex"/>
		<result column="PUB_REVIEW" property="pubReview"/>
		<result column="BOOK_EXTRACT" property="bookExtract"/>
		<result column="RECOMMAND" property="recommand"/>
		<result column="INTRO_MV" property="introMv"/>
		<association column="SORT_NO" property="sort" select="selectSortByPK"/>
	</resultMap>
	<resultMap type="sort" id="sortMap">
		<id column="SORT_NO" property="sortNo"/>
		<result column="LV1" property="lv1"/>
		<result column="LV2" property="lv2"/>
		<result column="LV3" property="lv3"/>
		<result column="LV4" property="lv4"/>		
	</resultMap>
	<resultMap type="review" id="reviewMap">
 		<id column="review_no" property="reviewNo"/>
 		<result column="book_code" property="bookCode"/>
 		<result column="member_id" property="memberId"/>
 		<result column="point" property="point"/>
 		<result column="review_content" property="reviewContent"/>
 		<result column="review_date" property="reviewDate"/>
 	</resultMap>
	<select id="selectSortLv1List" resultMap="sortMap">
		SELECT * FROM SORT WHERE LV2 IS NULL AND LV3 IS NULL AND LV4 IS NULL
	</select>
	<select id="selectSortLv2List" resultMap="sortMap">
		SELECT * FROM SORT WHERE LV2 IS NOT NULL AND LV3 IS NULL AND LV4 IS NULL
	</select>
	<select id="selectSortLv3List" resultMap="sortMap">
		SELECT * FROM SORT WHERE LV2 IS NOT NULL AND LV3 IS NOT NULL AND LV4 IS NULL
	</select>
	<select id="selectSortLv4List" resultMap="sortMap">
		SELECT * FROM SORT WHERE LV2 IS NOT NULL AND LV3 IS NOT NULL AND LV4 IS NOT NULL
	</select>
	
	<select id="selectSortBookList" resultMap="bookMap">
		SELECT * FROM BOOK WHERE SORT_NO LIKE #{sortNo}||'%'
	</select>
	
	<select id="selectSortBookCount" resultType="_int">
		SELECT COUNT(*) FROM BOOK WHERE SORT_NO LIKE #{sortNo}||'%'
	</select>
	
	<select id="selectBookInfo" resultMap="bookMap">
		select * from book where book_code=#{no}
	</select>
	<select id="selectBookReview" resultMap="reviewMap">
		select * from review where book_code=#{no}
	</select>
	
	<select id="selectBookReviewCount" resultType="_int">
		SELECT COUNT(*) FROM REVIEW WHERE book_code=#{no}
	</select>
	
	<insert id="bookHeartInsert">
		INSERT INTO HEART VALUES(SEQ_HEART.NEXTVAL,#{bookCode},#{memberId})
	</insert>
	
	<resultMap type="heart" id="heartMap">
		<id column="heart_no" property="heartNo"/>
		<result column="book_code" property="bookCode"/>
		<result column="member_id" property="memberId"/>
		<association property="book" resultMap="bookMap"/>
	</resultMap>
	
	<select id="bookHeartCheckSelect" resultMap="heartMap">
		SELECT * FROM HEART WHERE MEMBER_ID=#{memberId} AND BOOK_CODE=#{bookCode}
	</select>
	
	<delete id="bookHeartDelete">
		DELETE FROM HEART WHERE MEMBER_ID=#{memberId} AND BOOK_CODE=#{bookCode}
	</delete>
	
	<select id="searchTitle" resultMap="bookMap">
		select * from book where book_title like '%${search}%'
		 <if test="all!=''">
 			and rownum <![CDATA[<]]> 6
 		</if>
	</select>
	<select id="searchWriter" resultMap="bookMap">
		select * from book where book_writer like '%${search}%'
		 <if test="all!=''">
 			and rownum <![CDATA[<]]> 6
 		</if>
	</select>
	<select id="searchPub" resultMap="bookMap">
		select * from book where book_pub like '%${search}%'
		 <if test="all!=''">
 		and rownum <![CDATA[<]]> 6
 		</if>
	</select>
	
	<select id="searchWriterCount" resultType="_int">
		select count(*) from book where book_writer like '%${search}%'
	</select>
	<select id="searchTitleCount" resultType="_int">
		select count(*) from book where book_title like '%${search}%'
	</select>
	<select id="searchPubCount" resultType="_int">
		select count(*) from book where book_pub like '%${search}%'
	</select>
	
	<select id="searchBookCount" resultType="_int">
		select count(*) from book where book_${cate} like '%${search}%'
	</select>
	<select id="searchMoreInfo" resultMap="bookMap">
		select * from book where book_${cate} like '%${search}%'
	</select>
</mapper>
