<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">
 
 	
 
 	<!-- 회원관리  -->
 	<select id="memberSelectCount" resultType="int">
 		select count(*) from member where member_sort = 'N'
 	</select>
 
 	<select id="memberSelect" resultMap="memberMap">
 		select * from member m
		    join address a on m.member_id = a.member_id 
		    where member_sort = 'N' 
            order by m.enroll_date desc
 	</select>
 	
 	<select id="newReview" resultType="int">
 		select count(*) from review
   		 where review_date > sysdate -3
 	</select>
 	
 	
 	
 	<resultMap id="memberMap" type="member">
 		<id property="memberId" column="member_id"></id>
 		<result property="memberPwd" column="member_pwd"/>
 		<result property="memberName" column="member_name"/>
 		<result property="memberBirth" column="member_birth"/>
 		<result property="memberGender" column="member_gender"/>
 		<result property="memberEmail" column="member_email"/>
 		<result property="memberPhone" column="member_phone"/>
 		<result property="enrollDate" column="enroll_Date"/>
 		<result property="memberDate" column="member_date"/>
 		<result property="memberSort" column="member_sort"/>
 		<collection property="addresses" resultMap="addressMap"/>
 	</resultMap>
 	
 	<resultMap id="addressMap" type="address">
 		<id property="addrNo" column="addr_no"/>
 		<result property="memberId" column="member_id"/>
 		<result property="postNo" column="post_No"/>
 		<result property="roadAddr" column="road_Addr"/>
 		<result property="oldAddr" column="old_Addr"/>
 		<result property="detailAddr" column="detail_Addr"/>
 		<result property="defaultAddr" column="default_Addr"/>
 	</resultMap>
 	
 	<delete id="memberDelete">
 		delete from member where member_id = #{memberId}
 	</delete>
 	
 	<!-- 주소관리 -->
 	<select id="memberAddressList" resultMap="addressMap">
 		select * from address 
 	</select>
 	
 	
 	<!-- 공지사항 -->
 	<select id="noticeSelect" resultMap="noticeMap">
 		select * from notice
		order by notice_date desc
 	</select>
 	
 	<select id="noticeSelectCount" resultType="int">
 		select count(*) from notice
 	</select>
 	
 	<resultMap id="noticeMap" type="notice">
 		<id property="noticeNo" column="notice_no"/>
 		<result property="memberId" column="member_id"/>
 		<result property="noticeContent" column="notice_content"/>
 		<result property="noticeDate" column="notice_date"/>
 		<result property="noticeTitle" column="notice_title"/>
 		<result property="noticeView" column="notice_view"/>
 	</resultMap>
 
 	<insert id="noticeInsert">
 		insert into notice values(SEQ_NOTICE.NEXTVAL,#{memberId},#{noticeContent},sysdate,#{noticeTitle},0)
 	</insert>
 	
 	<select id="noticeUpdate" resultMap="noticeMap">
 		select * from notice where notice_no = #{no}
 	</select>
 	
 	<update id="noticeUpdateEnd">
 		update notice set notice_title = #{noticeTitle} , notice_content = #{noticeContent} where notice_no = #{noticeNo}
 	</update>
 	
 	<delete id="noticeDelte">
 		delete from notice where notice_no = #{no}
 	</delete>
 	
 	<!-- FAQ -->
 	<select id="faqSelect" resultMap="faqMap">
 		select * from faq
 	</select>
 	
 	<select id="faqSelectCount" resultType="int">
 		select count(*) from faq
 	</select>
 	
 	<resultMap id="faqMap" type="faq">
 		<id property="faqNo" column="faq_no"/>
 		<result property="faqTitle" column="faq_title"/>
 		<result property="faqContent" column="faq_content"/>
 	</resultMap>
 	
 	<insert id="faqInsert">
 		insert into faq values(seq_faq.nextval,#{faqTitle},#{faqContent})
 	</insert>
 	
 	<select id="faqUpdate" resultMap="faqMap">
 		select * from faq where faq_no = #{no}
 	</select>
 
 	<update id="faqUpdateEnd">
 		update faq set faq_title = #{faqTitle} , faq_content = #{faqContent} where faq_no = #{faqNo}
 	</update>
 	
 	<delete id="faqDelete">
 		delete from faq where faq_no = #{no}
 	</delete>
 	
 	<!-- QNA -->
 	
 	<select id="qnaSelectList" resultMap="qnaMap">
 		select * from qna order by qna_date desc
 	</select>
 	
 	<select id="qnaManagerCount" resultType="int">
 		select count(*) from qna
 	</select>
 	
 	<select id="qnaManagerNoCount" resultType="int">
 		select count(*) from qna where qna_status = 'N' 
 	</select>
 	
 	<select id="qnaSelectListNo" resultMap="qnaMap">
 		select * from qna where qna_status = 'N' order by qna_date desc
 	</select>
 	
 	<select id="qnaSelectOne" resultMap="qnaMap">
 		select * from qna where qna_no = #{no}
 	</select>
 	
 	<resultMap id="qnaMap" type="qna">
 		<id column="qna_no" property="qnaNo"/>
 		<result column="member_id" property="memberId"/>
 		<result column="qna_sort" property="qnaSort"/>
 		<result column="qna_title" property="qnaTitle"/>
 		<result column="qna_content" property="qnaContent"/>
 		<result column="qna_date" property="qnaDate"/>
 		<result column="qna_status" property="qnaStatus"/>
 	</resultMap>
 	
 	<insert id="qnaInsert">
 		insert into qna values(seq_qna.nextval,#{memberId},#{qnaSort},#{qnaTitle},#{qnaContent},default,'N')
 	</insert>
 	
 	<insert id="qnaAnswer">
 		insert into answer values(seq_answer.nextval,#{qnaNo},#{memberId},#{answerContent},default)
 	</insert>
 	
 	<select id="answerNo" resultType="int">
 		select count(*) from qna
  		  where qna_status = 'N'
 	</select>
 	
 	<select id="answerSelectOne" resultMap="answerMap">
 		select * from answer
 			where qna_no = #{no}
 	</select>
 	
 	<update id="qnaReplyUpdateEnd">
 		update answer
    		set answer_content = #{answerContent}
      			  where answer_no = #{answerNo}
 	</update>
 	
 	<resultMap id="answerMap" type="answer">
 		<id column="ANSWER_NO" property="answerNo"/>
 		<result column="QNA_NO" property="qnaNo"></result>
 		<result column="ADMIN_ID" property="adminId"></result>
 		<result column="ANSWER_CONTENT" property="answerContent"></result>
 		<result column="ANSWER_DATE" property="answerDate"></result>
 	</resultMap>
 	
 	<update id="qnaStatusUpdate">
 		update qna
 			set qna_status = 'Y'
 				where qna_no = #{qnaNo}
 	</update>
 	
 	<delete id="qnaDelete">
 		delete from qna where qna_no = #{no}
 	</delete>
 	
 
 	
 	<!-- review  -->
 	<select id="reviewManager" resultMap="reviewMap">
 		select * from review order by review_date desc
 	</select>
 	
 	<select id="reviewManagerCount" resultType="int">
 		select count(*) from review
 	</select>
 	
 	<resultMap type="review" id="reviewMap">
 		<id column="review_no" property="reviewNo"/>
 		<result column="book_code" property="bookCode"/>
 		<result column="member_id" property="memberId"/>
 		<result column="review_content" property="reviewContent"/>
 		<result column="review_date" property="reviewDate"/>
 	</resultMap>
 	
 	<delete id="reviewDelete">
 		delete from review where review_no = #{no}
 	</delete>
 	
 	<!-- event -->
 	
 	<select id="eventSelect" resultMap="eventMap">
 		select * from event
 		order by end_check asc
 	</select>
 	
 	<select id="eventSelectCount" resultType="_int">
 		select count(*) from event
 	</select>
 	
 	<select id="eventSelectOne" resultMap="eventMap">
 		select * from event where event_no = #{no}
 	</select>
 	
 	<resultMap id="eventMap" type="event">
 		<id column="event_no" property="eventNo"/>
 		<result column="event_title" property="eventTitle"/>
 		<result column="EVENT_INFO" property="eventInfo"/>
 		<result column="EVENT_SHORT" property="eventShort"/>
 		<result column="EVENT_START" property="eventStart"/>
 		<result column="EVENT_END" property="eventEnd"/>
 		<result column="END_CHECK" property="endCheck"/>
 		<result column="EVENT_THUM" property="eventThum"/>
 	</resultMap>
 	
 	<insert id="eventInsertEnd">
 		insert into event values(seq_event.nextval,#{eventTitle},#{eventInfo},#{eventShort},sysdate,#{eventEnd},default,#{eventThum})
 	</insert>
 	
 <!-- 	<update id="eventEnd">
 		update event set end_check ='Y' where event_no = #{no}
 	</update> -->
 	
 	<update id="eventEndUpdate">
 		update event
    		set end_check = 'Y'
      			  where sysdate >= event_end
 	</update>
 	
 	<update id="eventUpdateEnd">
 	update event
   	 set event_title =#{eventTitle} , event_info = #{eventInfo} , event_short = #{eventShort},event_end = #{eventEnd} , event_thum = #{eventThum}
    	    where event_no = #{eventNo}
 	</update>
 	
 	<delete id="eventDelete">
 		delete from event where event_no = #{no}
 	</delete>
 	
 	
 	<!-- book -->
 	
 	<select id="productSelectList" resultMap="bookMap">
 		select * from book
 		where 1=1
 		<if test="bookNo != null and bookNo != '' ">
 			and book_code like '%'||#{bookNo}||'%' 
 		</if>
 		<if test="bookTitle != null and bookTitle != '' ">
 			and book_title like '%'||#{bookTitle}||'%'
 		</if>
 		<if test="bookAuthor != null and bookAuthor != '' ">
 			and BOOK_WRITER like '%'||#{bookAuthor}||'%' 
 		</if>
 		<if test="bookPublisher != null and bookPublisher != '' ">
 			and BOOK_PUB like '%'||#{bookPublisher}||'%' 
 		</if>
 	</select>
 	
 	<select id="productSelectListCount" resultType="int">
 		select count(*) from book
 		where 1=1
 		<if test="bookNo != null and bookNo != '' ">
 			and book_code like '%'||#{bookNo}||'%' 
 		</if>
 		<if test="bookTitle != null and bookTitle != '' ">
 			and book_title like '%'||#{bookTitle}||'%'
 		</if>
 		<if test="bookAuthor != null and bookAuthor != '' ">
 			and BOOK_WRITER like '%'||#{bookAuthor}||'%' 
 		</if>
 		<if test="bookPublisher != null and bookPublisher != '' ">
 			and BOOK_PUB like '%'||#{bookPublisher}||'%' 
 		</if>
 	</select>
 	
 	<resultMap id="bookMap" type="com.kh.potstand.admin.model.vo.Book">
 		<id column="book_code" property="bookCode"/>
 		<result column="SORT_NO" property="sortNo"></result>
 		<result column="BOOK_TITLE" property="bookTitle"></result>
 		<result column="BOOK_WRITER" property="bookWriter"></result>
 		<result column="BOOK_PUB" property="bookPub"></result>
 		<result column="BOOK_COST" property="bookCost"></result>
 		<result column="BOOK_SHORT" property="bookShort"></result>
 		<result column="BOOK_CONTENT" property="bookContent"></result>
 		<result column="BOOK_COVER" property="bookCover"></result>
 		<result column="BOOK_DATE" property="bookDate"></result>
 		<result column="BOOK_STOCK" property="bookStock"></result>
 		<result column="EVENT_NO" property="eventNo"></result>
 	</resultMap>
 	
 	<!-- 재고관리 -->
 	<select id="stockManagerListCount" resultType="int">
 		select count(*) from book
 	</select>
 	
 	<select id="stockManagerList" resultMap="bookMap">
 		select * from book
 	</select>
 	
 	<update id="stockUpdate">
 		update book 
 			set book_stock = book_stock + #{no}
 				where book_code = #{bookCode}
 	</update>
 	
 	<!-- request -->
 	
 	<select id="requestSelectListCount" resultType="int">
 		select count(*) from request r
    	join book b on r.book_code = b.book_code
 		<!-- <if test="type != null and type != '' "> -->
    		where b.book_code like '%'||#{type}||'%'
    	<!-- </if> -->
 	</select>
 	
 	<select id="requestSelectList" resultMap="requestMap">
 		select * from request r
    	join book b on r.book_code = b.book_code
    	<!-- <if test="type != null and type != '' "> -->
    		where b.book_code like '%'||#{type}||'%'
    	<!-- </if> -->
 	</select>
 	
 	<update id="requestUpdate">
 		<!-- update request
    		set status = 'Y' , RESPONSE_DATE = sysdate
        	where request_no = #{requestNo} -->
        	update request
			    set status = 'Y' , response_date = sysdate
			        where book_code = (select book_code from book where book_code = #{bookCode})
 	</update>
 	
 	
 	<resultMap id="requestMap" type="request">
 		<id column="REQUEST_NO" property="requestNo"></id>
 		<result column="MEMBER_ID" property="memberId"></result>
 		<result column="STATUS" property="status"></result>
 		<result column="REQUEST_DATE" property="requestDate"></result>
 		<result column="RESPONSE_DATE" property="responseDate"></result>
 		<association property="book" javaType="com.kh.potstand.admin.model.vo.Book">
 			<id column="book_code" property="bookCode"/>
	 		<result column="SORT_NO" property="sortNo"></result>
	 		<result column="BOOK_TITLE" property="bookTitle"></result>
	 		<result column="BOOK_WRITER" property="bookWriter"></result>
	 		<result column="BOOK_PUB" property="bookPub"></result>
	 		<result column="BOOK_COST" property="bookCost"></result>
	 		<result column="BOOK_SHORT" property="bookShort"></result>
	 		<result column="BOOK_CONTENT" property="bookContent"></result>
	 		<result column="BOOK_COVER" property="bookCover"></result>
	 		<result column="BOOK_DATE" property="bookDate"></result>
	 		<result column="BOOK_STOCK" property="bookStock"></result>
	 		<result column="EVENT_NO" property="eventNo"></result>
 		</association>
  	</resultMap>
 	
</mapper>
