<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="../css/cartContent.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <div class="temp_header1">
            <div><h1>Books</h1></div>
            <div><input type="text"/></div>
            <div><button>회원가입</button></div>
            <div><button>로그인</button></div>
        </div>
        <div class="temp_header2">
            <nav>
                <ul>
                    <li>이벤트</li>
                    <li>좋아요</li>
                    <li>장바구니</li>
                    <li>주문배송</li>
                </ul>
            </nav>
        </div>
    </header>
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <section>
        <div><h1>장바구니</h1></div>
        <div class="content-container">
            <div class="cart-list">
                <button>전체선택</button>

                <!-- 카트 항목 -->
                <div class="cart-obj">
                    <input type="checkbox">
                    <div class="img-area"><img src=""></div>
                    <div class="obj-info">
                        <h2>책 제목</h3>
                        <h4>저자</h4>
                        <button>삭제</button>
                    </div>
                    <div class="price">
                        <h3>20,000원</h3>
                        <h2>18,000원</h2>
                    </div>
                </div>
                <div class="cart-obj">
                    <input type="checkbox">
                    <div class="img-area"><img src=""></div>
                    <div class="obj-info">
                        <h2>책 제목</h3>
                        <h4>저자</h4>
                        <button>삭제</button>
                    </div>
                    <div class="price">
                        <h3>20,000원</h3>
                        <h2>18,000원</h2>
                    </div>
                </div>
                <div class="cart-obj">
                    <input type="checkbox">
                    <div class="img-area"><img src=""></div>
                    <div class="obj-info">
                        <h2>책 제목</h3>
                        <h4>저자</h4>
                        <button>삭제</button>
                    </div>
                    <div class="price">
                        <h3>20,000원</h3>
                        <h2>18,000원</h2>
                    </div>
                </div>
                <div class="cart-obj">
                    <input type="checkbox">
                    <div class="img-area"><img src=""></div>
                    <div class="obj-info">
                        <h2>책 제목</h3>
                        <h4>저자</h4>
                        <button>삭제</button>
                    </div>
                    <div class="price">
                        <h3>20,000원</h3>
                        <h2>18,000원</h2>
                    </div>
                </div>
                <div class="cart-obj">
                    <input type="checkbox">
                    <div class="img-area"><img src=""></div>
                    <div class="obj-info">
                        <h2>책 제목</h3>
                        <h4>저자</h4>
                        <button>삭제</button>
                    </div>
                    <div class="price">
                        <h3>20,000원</h3>
                        <h2>18,000원</h2>
                    </div>
                </div>
               
            </div>
            <div class="buy-container">
                <div class="cart-cost">
                    <div id="sum-cost" class="li">
                        <h3>총 상품 금액</h3>
                        <h3>100,000원</h3>
                    </div>
                    <div id="sale-cost" class="li">
                        <h3>할인 금액</h3>
                        <h3>-30,000원</h3>
                    </div>
                    <div id="send-cost" class="li">
                        <h3>배송비</h3>
                        <h3>-3,000원</h3>
                    </div>
                    <div id="total" class="li">
                        <h3>합계</h3>
                        <h3>97,000원</h3>
                    </div>
                </div>
                <div class="buy-button">
                    구매하기
                </div>
            </div>
        </div>
        <div class="button-area">
            <button>선택삭제</button>
            <button>전체삭제</button>
        </div>
    </section>
    <!------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <footer></footer>
</body>
</html>