<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="function">
	<resultMap type="notice" id="noticeMap">
		<id column="NOTICE_NO" property="noticeNo"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="NOTICE_CONTENT" property="noticeContent"/>
		<result column="NOTICE_DATE" property="noticeDate"/>
		<result column="NOTICE_TITLE" property="noticeTitle"/>
		<result column="NOTICE_VIEW" property="noticeView"/>		
	</resultMap>
	<resultMap type="qna" id="qnaMap">
		<id column="QNA_NO" property="qnaNo"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="QNA_CONTENT" property="qnaContent"/>
		<result column="QNA_DATE" property="qnaDate"/>
		<result column="QNA_TITLE" property="qnaTitle"/>
		<result column="QNA_STATUS" property="qnaStatus"/>
		<result column="QNA_SORT" property="qnaSort"/>
		<association property="answer" resultMap="answerJoin"/>		
	</resultMap>
	<resultMap type="answer" id="answerJoin">
		<id column="ANSWER_NO" property="answerNo"/>
		<result column="QNA_NO" property="qnaNo"/>
		<result column="ADMIN_ID" property="adminId"/>
		<result column="ANSWER_CONTENT" property="answerContent"/>
		<result column="ANSWER_DATE" property="answerDate"/>		
	</resultMap>
	
	
	
	<select id="noticeSelectList" resultMap="noticeMap">
		SELECT * FROM NOTICE ORDER BY NOTICE_DATE DESC
	</select>
	<select id="noticeSelectOne" resultMap="noticeMap">
		SELECT * FROM NOTICE WHERE NOTICE_NO=#{noticeNo}
	</select>
	<select id="noticeSelectCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE
	</select>
	<select id="qnaSelectList" resultMap="qnaMap">
		SELECT * FROM QNA WHERE MEMBER_ID=#{memberId} ORDER BY QNA_DATE DESC
	</select>
	<select id="qnaSelectOne" resultMap="qnaMap">
		SELECT * FROM QNA LEFT JOIN ANSWER USING (QNA_NO) WHERE QNA_NO=#{qnaNo}
	</select>
	<select id="qnaSelectCount" resultType="_int">
		SELECT COUNT(*) FROM QNA WHERE MEMBER_ID=#{memberId}
	</select>
	
	<insert id="qnaInsert">
		 INSERT INTO QNA VALUES(SEQ_QNA.NEXTVAL, #{memberId}, #{qnaSort}, #{qnaTitle}, #{qnaContent}, DEFAULT, DEFAULT)
	</insert>
</mapper>
