<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<resultMap type="member" id="memberMap">
		<id column="member_id" property="memberId"/>
		<result column="member_pwd" property="memberPwd"/>
		<result column="member_name" property="memberName"/>
		<result column="member_birth" property="memberBirth"/>
		<result column="member_gender" property="memberGender"/>
		<result column="member_email" property="memberEmail"/>
		<result column="member_phone" property="memberPhone"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="member_sort" property="memberSort"/>	
		<collection property="addresses" ofType="address">
			<id column="addr_no" property="addrNo"/>
			<result column="member_id" property="memberId"/>
			<result column="post_no" property="postNo"/>
			<result column="road_addr" property="roadAddr"/>
			<result column="old_addr" property="oldAddr"/>
			<result column="detail_addr" property="detailAddr"/>
			<result column="default_addr" property="defaultAddr"/>
		</collection>	
	</resultMap>
	
	
	<select id="memberSelect" resultMap="memberMap">
		SELECT * FROM MEMBER JOIN ADDRESS USING(MEMBER_ID) WHERE MEMBER_ID=#{memberId}
	</select>
	
	<insert id="memberInsert">
		INSERT INTO MEMBER VALUES(#{memberId},#{memberPwd},#{memberName},#{memberBirth},#{memberGender},#{memberEmail}
		,#{memberPhone},default,default)
	</insert>
	
	<insert id="addressInsert">
		INSERT INTO ADDRESS VALUES(SEQ_ADDRESS.NEXTVAL,#{memberId},#{postNo},#{roadAddr},#{oldAddr},#{detailAddr}
		,#{defaultAddr})
	</insert>
	
	<select id="memberSearchIdSelect" resultMap="memberMap">
		SELECT * FROM MEMBER WHERE MEMBER_EMAIL=#{memberEmail}
	</select>
	
	<update id="memberResetPwd">
		UPDATE MEMBER SET MEMBER_PWD=#{memberPwd} WHERE MEMBER_ID=#{memberId}
	</update>
	
	<delete id="memberAddrDelete">
		DELETE FROM ADDRESS WHERE MEMBER_ID=#{memberId}
	</delete>
	
	<delete id="memberDelete">
		DELETE FROM Member WHERE MEMBER_ID=#{memberId}
	</delete>
	
	<update id="memberUpdatePwd">
		UPDATE MEMBER SET MEMBER_PWD=#{memberPwd} WHERE MEMBER_ID=#{memberId}
	</update>
	
	<update id="memberUpdate">
		UPDATE MEMBER SET MEMBER_PHONE=#{memberPhone}, MEMBER_BIRTH=#{memberBirth}, MEMBER_GENDER=#{memberGender} WHERE 
		MEMBER_ID=#{memberId}
	</update>
	
	<update id="addressUpdate">
		UPDATE ADDRESS SET POST_NO=#{postNo}, ROAD_ADDR=#{roadAddr}, OLD_ADDR=#{oldAddr}, DETAIL_Addr=#{detailAddr} WHERE 
		MEMBER_ID=#{memberId}
	</update>
	
	<resultMap type="point" id="pointMap">
		<id column="point_no" property="pointNo"/>
		<result column="member_id" property="memberId"/>
		<result column="point" property="point"/>
		<result column="use_log" property="useLog"/>
		<result column="use_date" property="useDate"/>
	</resultMap>
	
	<select id="memberPointSelect" resultMap="pointMap">
		SELECT * FROM POINT WHERE MEMBER_ID=#{memberId}
	</select>
	
	<select id="memberPointSelectCount" resultType="_int">
		SELECT COUNT(*) FROM POINT WHERE MEMBER_ID=#{memberId}
	</select>
	
</mapper>
