<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">

	<resultMap type="member" id="memberMap">
		<id column="member_id" property="memberId"/>
		<result column="member_pwd" property="memberPwd"/>
		<result column="member_name" property="memberName"/>
		<result column="member_birth" property="memberBirth"/>
		<result column="member_gender" property="memberGender"/>
		<result column="member_email" property="memberEmail"/>
		<result column="member_phone" property="memberPhone"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="member_sort" property="memberSort"/>	
		<collection property="addresses" ofType="address">
			<id column="addr_no" property="addrNo"/>
			<result column="member_id" property="memberId"/>
			<result column="post_no" property="postNo"/>
			<result column="road_addr" property="roadAddr"/>
			<result column="old_addr" property="oldAddr"/>
			<result column="detail_addr" property="detailAddr"/>
			<result column="default_addr" property="defaultAddr"/>
		</collection>	
	</resultMap>
	
	
	<select id="memberSelect" resultMap="memberMap">
		SELECT * FROM MEMBER JOIN ADDRESS USING(MEMBER_ID) WHERE MEMBER_ID=#{memberId}
	</select>
	
	<insert id="memberInsert">
		INSERT INTO MEMBER VALUES(#{memberId},#{memberPwd},#{memberName},#{memberBirth},#{memberGender},#{memberEmail}
		,#{memberPhone},default,default)
	</insert>
	
	<insert id="addressInsert">
		INSERT INTO ADDRESS VALUES(SEQ_ADDRESS.NEXTVAL,#{memberId},#{postNo},#{roadAddr},#{oldAddr},#{detailAddr}
		,#{defaultAddr})
	</insert>
	
	<select id="memberSearchIdSelect" resultMap="memberMap">
		SELECT * FROM MEMBER WHERE MEMBER_EMAIL=#{memberEmail}
	</select>
	
	<update id="memberResetPwd">
		UPDATE MEMBER SET MEMBER_PWD=#{memberPwd} WHERE MEMBER_ID=#{memberId}
	</update>
	
	<delete id="memberAddrDelete">
		DELETE FROM ADDRESS WHERE MEMBER_ID=#{memberId}
	</delete>
	
	<delete id="memberDelete">
		DELETE FROM Member WHERE MEMBER_ID=#{memberId}
	</delete>
	
	<update id="memberUpdatePwd">
		UPDATE MEMBER SET MEMBER_PWD=#{memberPwd} WHERE MEMBER_ID=#{memberId}
	</update>
	
	<update id="memberUpdate">
		UPDATE MEMBER SET MEMBER_PHONE=#{memberPhone}, MEMBER_BIRTH=#{memberBirth}, MEMBER_GENDER=#{memberGender} WHERE 
		MEMBER_ID=#{memberId}
	</update>
	
	<update id="addressUpdate">
		UPDATE ADDRESS SET POST_NO=#{postNo}, ROAD_ADDR=#{roadAddr}, OLD_ADDR=#{oldAddr}, DETAIL_Addr=#{detailAddr} WHERE 
		MEMBER_ID=#{memberId}
	</update>
	
	<resultMap type="point" id="pointMap">
		<id column="point_no" property="pointNo"/>
		<result column="member_id" property="memberId"/>
		<result column="point" property="point"/>
		<result column="use_log" property="useLog"/>
		<result column="use_date" property="useDate"/>
		<result column="point_no" property="point"/>
	</resultMap>
	
	<select id="memberPointSelect" resultMap="pointMap">
		SELECT * FROM POINT WHERE MEMBER_ID=#{memberId} ORDER BY USE_DATE DESC
	</select>
	
	<select id="memberPointSelectCount" resultType="_int">
		SELECT COUNT(*) FROM POINT WHERE MEMBER_ID=#{memberId}
	</select>
	
	<resultMap type="heart" id="heartMap">
		<id column="heart_no" property="heartNo"/>
		<result column="book_code" property="bookCode"/>
		<result column="member_id" property="memberId"/>
		<association property="book" resultMap="bookMap"/>
	</resultMap>
	
	<resultMap type="sort" id="sortMap">
		<id column="SORT_NO" property="sortNo"/>
		<result column="LV1" property="lv1"/>
		<result column="LV2" property="lv2"/>
		<result column="LV3" property="lv3"/>
		<result column="LV4" property="lv4"/>		
	</resultMap>
	<select id="selectSortByPK" resultMap="sortMap">
		SELECT * FROM SORT WHERE SORT_NO=#{sortNo}
	</select>
	
	<resultMap type="book" id="bookMap">
		<id column="BOOK_CODE" property="bookCode"/>
		<result column="BOOK_TITLE" property="bookTitle"/>
		<result column="BOOK_WRITER" property="bookWriter"/>
		<result column="BOOK_PUB" property="bookPub"/>
		<result column="BOOK_COST" property="bookCost"/>
		<result column="BOOK_SHORT" property="bookShort"/>
		<result column="BOOK_CONTENT" property="bookContent" typeHandler="longHandler"/>
		<result column="BOOK_COVER" property="bookCover"/>
		<result column="BOOK_DATE" property="bookDate"/>
		<result column="BOOK_STOCK" property="bookStock"/>
		<result column="BOOK_LINK" property="bookLink"/>
		<result column="BOOK_INTRO" property="bookIntro"/>
		<result column="WRITER_INTRO" property="writerIntro"/>
		<result column="BOOK_INDEX" property="bookIndex"/>
		<result column="PUB_REVIEW" property="pubReview"/>
		<result column="BOOK_EXTRACT" property="bookExtract"/>
		<result column="RECOMMAND" property="recommand"/>
		<result column="INTRO_MV" property="introMv"/>
		<association column="SORT_NO" property="sort" select="selectSortByPK"/>
	</resultMap>
	
	<select id="memberHeartListCount" resultType="_int">
		SELECT COUNT(*) FROM HEART WHERE MEMBER_ID=#{memberId}
	</select>
	
	<select id="memberHeartListSelect" resultMap="heartMap">
		SELECT * FROM HEART JOIN BOOK USING(BOOK_CODE) WHERE MEMBER_ID=#{memberId}
	</select>
	
	<!-- 쿠폰 리절트맵 + selectByPK -->
	<resultMap type="coupon" id="couponMap">
		<id column="COUPON_NO" property="couponNo"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="START_DATE" property="startDate"/>
		<result column="VAL_DATE" property="valDate"/>
		<result column="USED_DATE" property="usedDate"/>
		<result column="COUPON_END" property="couponEnd"/>
		<result column="COUPON_AMOUNT" property="couponAmount"/>
		<association column="EVENT_NO" property="event" select="selectEventByPK"/>
	</resultMap>
		
	<resultMap type="cart" id="cartMap">
		<id column="CART_NO" property="cartNo"/>
		<result column="MEMBER_ID" property="memberId"/>
		<result column="BOOK_AMOUNT" property="bookAmount"/>
		<association property="book" resultMap="bookMap"/>	
		<collection property="coupon" resultMap="couponMap"/>
	</resultMap>
	
	<resultMap type="event" id="eventMap">
		<id column="event_no" property="eventNo"/>
		<result column="event_title" property="eventTitle"/>
		<result column="event_info" property="eventInfo" typeHandler="longHandler"/>
		<result column="event_short" property="eventShort"/>
		<result column="event_start" property="eventStart"/>
		<result column="event_end" property="eventEnd"/>
		<result column="end_check" property="endCheck"/>
		<result column="event_thum" property="eventThum"/>
		<result column="TYPE" property="type"/>
		<result column="DISCOUNT" property="discount"/>
	</resultMap>

	<select id="selectEventByPK" resultMap="eventMap">
		select * from event where event_no = #{eventNo}
	</select>
	
	<select id="memberCartSelect" resultMap="cartMap">
		SELECT * FROM CART WHERE MEMBER_ID=#{memberId} AND BOOK_CODE=#{bookCode}
	</select>
	
	<update id="memberOverlapCartUpdate">
		UPDATE CART SET BOOK_AMOUNT=BOOK_AMOUNT+1 WHERE MEMBER_ID=#{memberId} AND BOOK_CODE=#{bookCode}
	</update>
	
	<insert id="memberChoiceCartInsert">		
		INSERT INTO CART VALUES(SEQ_CART.NEXTVAL,#{memberId},#{bookCode},1,NULL)		
	</insert>
	
	<delete id="memberHeartDelete">
		DELETE FROM HEART WHERE MEMBER_ID=#{memberId} AND BOOK_CODE=#{bookCode}
	</delete>
	
	<resultMap type="review" id="reviewMap">
 		<id column="review_no" property="reviewNo"/>
 		<result column="book_code" property="bookCode"/>
 		<result column="member_id" property="memberId"/>
 		<result column="point" property="point"/>
 		<result column="review_content" property="reviewContent"/>
 		<result column="review_date" property="reviewDate"/>
 		<association property="book" resultMap="bookMap"/>
 	</resultMap>
 	
 	<select id="memberReviewListCount" resultType="_int">
		SELECT COUNT(*) FROM REVIEW WHERE MEMBER_ID=#{memberId}
	</select>
	
	<select id="memberReviewListSelect" resultMap="reviewMap">
		SELECT * FROM REVIEW JOIN BOOK USING(BOOK_CODE) WHERE MEMBER_ID=#{memberId} ORDER BY REVIEW_DATE DESC
	</select>
	
	<delete id="memberReviewDelete">
		DELETE FROM REVIEW WHERE BOOK_CODE=#{bookCode} AND MEMBER_ID=#{memberId}
	</delete>
	
	<update id="memberReviewUpdate">
		UPDATE REVIEW SET POINT=#{point}, REVIEW_CONTENT=#{reviewContent}, REVIEW_DATE=SYSDATE 
		WHERE BOOK_CODE=#{bookCode} AND MEMBER_ID=#{memberId}
	</update>
	
	<select id="memberCouponListCount" resultType="_int">
		SELECT COUNT(*) FROM COUPON JOIN EVENT USING(EVENT_NO) WHERE MEMBER_ID=#{memberId} AND COUPON_END='N'
	</select>
	
	<select id="memberCouponListSelect" resultMap="couponMap">
		SELECT * FROM COUPON JOIN EVENT USING(EVENT_NO) WHERE MEMBER_ID=#{memberId} AND COUPON_END='N' ORDER BY START_DATE DESC
	</select>
	
	<select id="memberEndCouponListCount" resultType="_int">
		SELECT COUNT(*) FROM COUPON JOIN EVENT USING(EVENT_NO) WHERE MEMBER_ID=#{memberId} AND COUPON_END='Y'
	</select>
	
	<select id="memberEndCouponListSelect" resultMap="couponMap">
		SELECT * FROM COUPON JOIN EVENT USING(EVENT_NO) WHERE MEMBER_ID=#{memberId} AND COUPON_END='Y' ORDER BY VAL_DATE DESC
	</select>
	
	<update id="membmerCouponEndUpdate">
		UPDATE COUPON SET COUPON_END='Y' WHERE VAL_DATE &lt; SYSDATE;
	</update>
	
	<resultMap type="payment" id="paymentMap">
		<id column="payment_no" property="paymentNo"/>
		<result column="member_id" property="memberId"/>
		<result column="receiver_name" property="receiverName"/>
		<result column="receiver_addr" property="receiverAddr"/>
		<result column="message" property="message"/>
		<result column="post_message" property="postMessage"/>
		<result column="name" property="name"/>
		<result column="pay_method" property="payMethod"/>
		<result column="merchant_uid" property="merchantUid"/>	
		<result column="amount" property="amount"/>	
		<result column="pay_date" property="payDate"/>	
		<result column="order_state" property="orderState"/>	
		<result column="user_coupon_no" property="usedCouponNo"/>	
		<collection property="paymentObj" resultMap="paymentObjMap"/>
	</resultMap>
	<resultMap type="paymentObj" id="paymentObjMap">
		<id column="obj_no" property="objNo"/>
		<result column="book_amount" property="bookAmount"/>
		<result column="payment_no" property="paymentNo"/>
		<association property="book" column="book_code" select="selectBookByPK"/>
		<association property="coupon" column="used_coupon_no" select="selectCouponByPK"/>
	</resultMap>
	<select id="selectBookByPK" resultMap="bookMap">
		select * from book where book_code = #{bookCode}
	</select>
	<select id="selectCouponByPK" resultMap="couponMap">
		select * from coupon where coupon_no = #{couponNo}
	</select>
		
	<select id="memberOrderListSelect" resultMap="paymentMap">
		SELECT * FROM  PAYMENT JOIN PAYMENT_OBJ USING(PAYMENT_NO) WHERE MEMBER_ID=#{memberId}
	</select>
	
	<select id="memberOrderListCount" resultType="_int">
		SELECT COUNT(*) FROM PAYMENT WHERE MEMBER_ID=#{memberId}
	</select>
	
</mapper>
