<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="event">

	<resultMap type="event" id="eventMap">
		<id column="event_no" property="eventNo"/>
		<result column="event_title" property="eventTitle"/>
		<result column="event_info" property="eventInfo"/>
		<result column="event_short" property="eventShort"/>
		<result column="event_start" property="eventStart"/>
		<result column="event_end" property="eventEnd"/>
		<result column="end_check" property="endCheck"/>
		<result column="event_thum" property="eventThum"/>
		<result column="type" property="type"/>
		<result column="discount" property="discount"/>
	</resultMap>
	
	<!-- 이벤트 페이지 -->
	
	<select id="selectEventList" resultMap="eventMap">
		SELECT * FROM EVENT
	</select>
	<select id="selectEventPost" resultMap="eventMap">
		select * from event where event_no = #{no}
	</select>
	
	<!-- 쿠폰 -->
	
	<insert id="insertCoupon">
		insert into coupon values(seq_coupon.nextval, #{memberId}, #{start}, #{end}, null, default, #{no}, 1)
	</insert>
	<select id="countCoupon" resultType="_int">
		select count(*) from coupon where member_id=#{memberId} and event_no=#{no}
	</select>
</mapper>
