<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<typeAliases>
		<typeAlias alias="member" type="com.kh.potstand.member.model.vo.Member"/>
		<typeAlias alias="address" type="com.kh.potstand.member.model.vo.Address"/>
		<typeAlias alias="notice" type="com.kh.potstand.admin.model.vo.Notice"/>
		<typeAlias alias="qna" type="com.kh.potstand.admin.model.vo.Qna"/>
		<typeAlias alias="event" type="com.kh.potstand.event.model.vo.Event"/>
		<typeAlias alias="answer" type="com.kh.potstand.admin.model.vo.Answer"/>
	</typeAliases>
</configuration>
